name: Deploy SAM

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install SAM CLI
        run: |
          python -m pip install --upgrade pip
          pip install aws-sam-cli

      - name: Build SAM
        run: sam build --template-file template.yaml

      - name: Deploy SAM
        run: |
          sam deploy --template-file .aws-sam/build/template.yaml --stack-name emergence-sam --capabilities CAPABILITY_IAM --no-confirm-changeset --no-fail-on-empty-changeset
